@import '../../../assets/styles/main';

input {
  color: $color-basic-dark;
  height: 35px;
  width:100%;
  border: none;
  box-sizing: border-box;
  outline: none;
}
button {
  background: #fff;
  color: $color-basic-orange;
  font-weight: $font-weight-bold;
  border: none;
  height: 40px;
  padding: 0 40px;
  text-align: center;
  border: 1px solid $color-basic-orange;
  letter-spacing: .25px;
  text-transform: uppercase;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
    &:hover {
      border-color: $color-basic-aqua;
      color: $color-basic-aqua;
    }
}
.formControl {
  &::after {
    @include pseudo_after(100%, $color-basic-grey, 0, 15px);
  }
}
.formControlSubmit {
  padding-top: 25px;
  text-align:center
}