@import '../../assets/styles/main';

.loginWrapper {
  display:flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(255,255,255,0.14),0 3px 1px -2px rgba(255,255,255,0.12),0 1px 5px 0 rgba(255,255,255,0.2);
  width: 400px;
  min-height: 475px;
  margin: auto;
  padding: 40px;
  box-sizing: border-box;
  color: $color-basic-dark;
  .loginLogo {
    text-align: center;
    &::after {
      @include pseudo_after(100%, #00000026, 15px, 0);
    }
  }
  h1 {
    font-size: 24px;
    font-weight: $font-weight-reqular;
    line-height: 1.3333;
  }
  .formWrapper {
    padding-top: 20px;
    input {
      color: $color-basic-dark;
      height: 35px;
      width:100%;
      border: none;
      box-sizing: border-box;
      outline: none;
    }
    button {
      background: #fff;
      color: $color-basic-orange;
      font-weight: $font-weight-bold;
      border: none;
      height: 40px;
      padding: 0 40px;
      text-align: center;
      border: 1px solid $color-basic-orange;
      letter-spacing: .25px;
      text-transform: uppercase;
      outline: none;
      box-sizing: border-box;
      cursor: pointer;
        &:hover {
          border-color: $color-basic-aqua;
          color: $color-basic-aqua;
        }
    }
    .formControl {
      &::after {
        @include pseudo_after(100%, #00000026, 0, 15px);
      }
    }
    .formControlSubmit {
      padding-top: 25px;
      text-align:center
    }
  }
}
