.loginWrapper {
  display:flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(255,255,255,0.14),0 3px 1px -2px rgba(255,255,255,0.12),0 1px 5px 0 rgba(255,255,255,0.2);
  width: 400px;
  min-height: 500px;
  margin: auto;
  padding: 40px;
  box-sizing: border-box;
  color: #212121;
  .loginLogo {
    text-align: center;
    &::after {
      content: "";
      display:flex;
      width:100%;
      border-bottom: 1px solid #00000026;
      margin-top: 15px;
    }
  }
  h1 {
    padding-bottom: 0;
    padding-top: 16px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3333;
    margin-bottom: 0;
    margin-top: 0;
  }
  .formWrapper {
    padding-top: 30px;
    input {
      color: #212121;
      height: 35px;
      width:100%;
      border: none;
      box-sizing: border-box;
      outline: none;
    }
    button {
      background: #fff;
      color: #ffa000;
      font-weight: 700;
      border: none;
      height: 40px;
      padding: 6px 18px;
      text-align: center;
      border: 1px solid #ffa000;
      font-family: 'Oswald Regular',Arial,sans-serif;
      letter-spacing: .25px;
      text-transform: uppercase;
      outline: none;
      box-sizing: border-box;
      cursor: pointer;
        &:hover {
          border-color: #1a9cb0;
          color: #1a9cb0;
        }
    }
    .formControl {
      &::after {
        content: "";
        display:flex;
        width:100%;
        border-bottom: 1px solid #00000026;
        margin-bottom: 15px;
      }
    }
    .formControlSubmit {
      padding-top: 25px;
      text-align:center
    }
  }
}
