// Basic colors
$color-basic-orange: #ffa000;
$color-basic-aqua: #1a9cb0;
$color-basic-dark: #212121;
$color-basic-grey: #d0d0d0;

// Basic background
$app-background-basic-img: url('../assets/images/bg-pattern.png') repeat;
