@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');

// Basic font-size

// Basic font-family
$font-family-basic: 'Roboto', sans-serif;

// Basic font-weight
$font-weight-reqular: 400;
$font-weight-bold: 700;
